.detail-view{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    border-radius: 20px;
    border: black solid;
}

.detail-colmn-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    margin-top: 1rem;
}

.poke-name{
    width: 60%;
    height: 85%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 1rem;
    font-size: 80%;
}

.poke-name h1{
    height: 100%;
    padding-bottom: .3rem;
}

.poke-id{
    background-color: white;
    border-radius: 10px;
    width: 25%;
    height: 75%;
    text-align: center;
    margin: auto;
    font-size: 80%;
}

.detail-colmn-2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.poke-image{
    width: 42%;
    height: 85%;
    background-color: white;
    border-radius: 15px;
    margin: 1rem 1rem;
    margin-right: 0rem;
}

.poke-info{
    margin: 0rem auto;
    margin-top: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.type-content{
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.type-content-text{
    align-self: center;
}

.info-header{
    margin-bottom: .2rem;
    width: 11rem;
    text-align: center;
    border-radius: 10px;
}

.info-header h2{
    font-size: medium;
    font-weight: 800;
}

.poke-info-hw-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.poke-info-height,
.poke-info-weight{
    width: 47%;
    border-radius: 10px;
}

.info-content{
    background-color: white;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding-top:2px
}

.poke-info-abilities{
    display: flex;
    flex-direction: column;
}

.detail-colmn-3{
    width: 90%;
    margin: .2rem 1rem;
}

.stat-wapper{
    display: flex;
    flex-direction: column;
    text-align:left;
    margin-top: 3px;
}

.stats-bar{
    margin: .3rem 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
}

.stats-bar-0{
    margin-top: .6rem
}

.stats-bar-5{
    margin-bottom: .6rem;
}

.loading{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    border-radius: 20px;
    border: black solid;
    background-color:rgb(51, 47, 47);
}

.arrow{
    font-size: xx-large;
}

.loading-screen{
    border: white solid 2px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    height: 12rem;
    width: 12rem;
}

.loading-screen-element{

    text-align: center;
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 700;
}
