.search-bar-container{
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;
    margin: 1rem 0rem;
    caret-color: transparent;
}

.search-bar-top{
    width: 100%; 
    caret-color: transparent;
}

