.result-list{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-height: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}

.search-list-element{
    width: 100%;
    padding: 10px 0 ;
    border-bottom: dashed  black 2px;
    font-size: large;
    padding-left: 15px;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    letter-spacing: 4px;
    color:black
}

.search-list-element:visited{
    color: black;
}

.search-list-element:hover{
    background-color: #eee;
}