.search-box-wrapper{
    width: 90%;
    height: 5rem;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    caret-color: transparent;
}

.input-wrapper{
    background-color: white;
    border:gainsboro solid ;
    width: 100%;
    border-radius: 20px;
    height: 3rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

input{
    background-color: transparent;
    border:none;
    width: 95%;
    margin: 5px 10px;
    height: 100%;
    font-size: x-large;
    font-weight: 700;
    caret-color: black;
    
}

input:focus{
    outline: none;
}

#searchIcon{
    font-size: 1.2rem;
    caret-color: transparent;
}

.list-order-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list-order-element{
    margin-top: .2rem;
}

.list-order-laber{
    margin-right: .5rem;
}