.gallery-type-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    border: black solid 3px;
}

.gallery-type{
    border: black solid;
    width: 4rem;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: .1rem;
    margin: .4rem;
    font-size: large;
    font-weight: 500;
}

.gallery-pic-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.2rem;
    width: 110%;
    height: 21rem;
    justify-content: flex-start;
}

.gallery-link{
    margin-bottom: .5rem;
    margin-right: 1.25rem;
    height: 6.4rem;
}

.gallery-pic{
    border: black solid;
    border-radius: 20px;
}

.gallery-bar-wapper{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallerry-page-bar{
    background-color: black;
    border-radius: 20px;
    height: 2rem;
    width: 13rem;
    color: white;
    text-align: center;
    margin-top: .5rem;
    padding-top:.2rem
}