.pokedex {
    align-items: flex-end;
    display: flex;
    height: 45rem;
    width: 32rem;
    margin: auto;
  }
  
  .left-container{
    border: 4px solid black;
    width: 100%;
  }
  
  .left-container {
    background: #E71D23;
    height: 100%;
  }
  
  .left-container__top-section {
    border-bottom: 3px solid black;
    display: flex;
    height: 4rem;
    padding: 8px;
  }
  
  .top-section__blue {
    background: radial-gradient(farthest-corner at 10px 10px, white, #369CD4, #369CD4);
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
    height: 40px;
    width: 40px;
    margin-left: 15px;
  }
  
  .top-section__small-buttons {
    display: flex;
    margin: 2px 20px;
  }
  
  .top-section__red,
  .top-section__yellow,
  .top-section__green {
    border-radius: 50%;
    border: 2px solid black;
    height: 18px;
    margin-right: 10px;
    width: 18px;
  }
  
  .left-container__main-section-container {
    display: flex;
    height: calc(100% - 85px);
  }
  
  .left-container__main-section {
    height: 100%;
    padding: 25px;
    width: 100%;
  }
  
  
  .left-container__controllers {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 10px 25px 0;
  }
  
  .controllers__d-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  
  .d-pad__cell {
    background: black;
    box-shadow: 0 0 2px 2px rgba(0,0,0, .3);
    height: 25px;
    width: 25px;
  }
  
  .d-pad__cell.top {
    border-left: 1px solid dimgrey;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid dimgrey;
    border-top: 1px solid dimgrey;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  
  .d-pad__cell.left {
    border-bottom: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-radius: 5px 0 0 5px;
    border-top: 1px solid dimgrey;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  
  .d-pad__cell.middle {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  
  .d-pad__cell.right {
    border-bottom: 1px solid dimgrey;
    border-radius: 0 5px 5px 0;
    border-right: 1px solid dimgrey;
    border-top: 1px solid dimgrey;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  
  .d-pad__cell.bottom {
    border-bottom: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid dimgrey;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  
  .controllers__buttons {
    display: flex;
    justify-content: space-around;
    width: 100px;
  }
  
  .buttons__button {
    align-items: center;
    background: black;
    border-radius: 50%;
    border: 1px solid dimgrey;
    box-shadow: 0 0 2px 2px rgba(0,0,0, .3);
    color: rgba(255,255,255,.75);
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
  }
  
  .buttons__button:first-child {
    margin-top: 5px;
  }
  
  .buttons__button:last-child {
    margin-top: -5px;
  }
  
  
  .left-container__right {
    border-left: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 103.5%;
    justify-content: space-between;
    width: 50px;
  }
  
  .left-container__hinge {
    background: linear-gradient(to right, #7F100F, #E71D23, #E71D23, #7F100F);
    height: 90px;
    width: 100%;
  }
  
  .left-container__hinge:first-child {
    border-bottom: 3px solid black;
  }
  
  .left-container__hinge:last-child {
    border-top: 3px solid black;
  }
  
  .top-section__red {
    background: #7F100F;
  }
  
  .top-section__yellow {
    background: #EDF18E;
  }
  
  .top-section__green {
    background: #33915A;
  }