.view-switcher{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 5rem;
    justify-content: space-between;
    margin-right: .5rem;
}

.view-changer,
.view-changer:visited{
    font-size: xx-large;
    color: black;
}

