.pokedex-wrapper{
    display: flex;
    flex-direction: row;
    margin:auto;
}

.right-component{
    width:35rem;
}

.right-top{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    height: 4rem;
}

.view-title{
  width: 98%;
  height: 100%;
  text-align: center;
  padding-top: .3rem;
  padding-left: 6rem;
  font-size: xx-large;
  font-weight: 700;
}

.right-container {
    background: #E71D23;
    border: black solid 4px;
    border-left: none;
    height: 41rem;
    padding: 25px;
    width: 100%;
  }
  
  .right-container-black {
    background: black;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.3);
    height: 30rem;
    padding: 10px;
    
    border: whit solid;
  }
  
  .right-container-screen {
    background: #8fc6e7;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    padding: 15px 15px 0;
  }

  .list-bar-wapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90.1%;
    margin: auto;
    margin-top: 25px
  }